.task {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    align-items: center;
  }

.deleteBtn {
    color: #ddd;
}
  
.deleteBtn:hover {
    color: #000;
}

.done {
    text-decoration: line-through;
}